html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body{
  font-size: 16px;
}

.quote{
  margin: auto;
  width: 90rem;
  height: 35rem;
  border-radius: 2rem;
  padding: 2rem;
  box-shadow: 2px 2px 8px #4d4c4c ;
  background-color: honeydew;
}

.card{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.quote h2 i{
  padding: 1rem;
  font-size: 5rem;
}

.quote h2{
  font-size: 3rem;
}

.quote p{
  padding: 1rem;
  font-size: 2rem;
}

.quote button{
  border: none;
  background: transparent;
  font-size: 6rem;
  position: relative;
  right: -100%;
  left: 85%;
}

.quote button:hover{
  cursor: pointer;
}